<div class="trainer-detail">
  <h2>{{ trainerDetail.name }}</h2>
  <img [src]="trainerDetail.imageUrl" [alt]="trainerDetail.name" />
  <p><strong>Age:</strong> {{ trainerDetail.age }}</p>
  <p><strong>About the trainer:</strong> {{ trainerDetail.bigSnopsies }}</p>

  <p><strong>Pokemons:</strong></p>
  <p><strong>Pokemon Quantity:</strong> {{ trainerDetail.pokemons.length }}</p>
  <p><strong>Nivel Promedio de Pokémon:</strong> {{ averageLevel | number: '1.1-1' }}</p>

  <app-pokemon-list [pokemonList]="trainerDetail.pokemons"></app-pokemon-list>
</div>
