<div>
  <div *ngIf="selected">
    <app-trainer-detail [trainerDetail]="selectedTrainer"></app-trainer-detail>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nombre del Entrenador</th>
        <th>Imagen del Entrenador</th>
        <th>Snapshot del Entrenador</th>
        <th>Número de Pokémon</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let trainer of trainers"
        class="row-table"
        (click)="onSelected(trainer)"
      >
        <td>{{ trainer.name }}</td>
        <td>
          <img [src]="trainer.imageUrl" alt="Trainer Image" class="img-thumbnail" />
        </td>
        <td>{{ trainer.smallSnopsies }}</td>
      </tr>
    </tbody>
  </table>
</div>
